* {
  padding: 0;
  margin: 0;
  cursor: crosshair;
}

body {
  font-family: sans-serif;
  background: #282a36;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  background: #ff79c6;
  color: #fafafa;
}

#gameArea {
  display: none;
  position: fixed;
  inset: 6%;
  background-image: linear-gradient(
      to right,
      rgba(68, 68, 68, 0.3) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(85, 85, 85, 0.3) 1px, transparent 1px);
  background-size: 140px 140px;
  background-position: center;
}

#gameArea.microAdjustment {
  inset: 37%;
  background-size: 70px 70px;
}

#gameArea.active {
  display: block;
}

#timeBar {
  width: 100%;
  height: 2px;
  background: #ff79c6;
  position: absolute;
  top: 0;
}

#targetTimeBar {
  width: 100%;
  height: 4px;
  background: #ff79c6;
  align-self: flex-start;
  flex-shrink: 0;
}

@keyframes shrinkBar {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

#scoreContainer {
  display: none;
}

#scoreContainer.active {
  display: block;
}

#score {
  color: #ff79c6;
}

.targetContainer {
  width: 55px;
  height: 60px;
  background: transparent;
  position: absolute;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-between;
}

.targetContainer.micro {
  width: 30px;
  height: 35px;
}

.normalTarget {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: radial-gradient(circle at 30% 30%, #c59dfd, #35175e);
  box-shadow: 0 0 8px rgba(61, 61, 61, 0.3);
  flex-shrink: 0;
}

.microTarget {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: radial-gradient(circle at 30% 30%, #c59dfd, #35175e);
  box-shadow: 0 0 4px rgba(61, 61, 61, 0.3);
  flex-shrink: 0;
}
